/*
Main Title: Mukta;
First Layer Title: Dosis;
Second Layer Title: Thasadith;
Content: Zilla Slab;
Code Font: Lekton;
*/

/*
font-family: 'Dosis', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Thasadith', sans-serif;
font-family: 'Zilla Slab', serif;
*/

/*
text color: #383838; (light grey)
link color: #cccccc; (super-light grey)
link hovered color: #000000; (black)
menu bg color: #b30000; (dark red)
*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lekton&family=Mukta:wght@400;800&family=Thasadith:wght@400;700&family=Zilla+Slab:wght@300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-size: 2.4vh;
	line-height: 2.4vh;
	font-family: 'Zilla Slab', serif;
	background-color: white;
	color: #383838;
}

body > nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100vh;
	padding: 1vw;
	background-color: #b30000;
	font-weight: 700;
}

body > nav a {
	display: block;
	margin-bottom: 2vh;
	padding: 0.5vh;
	width: 100vh;
	color: white;
	transition: 0.5s all ease-out;
}

body > nav a:hover {
	background-color: white;
	color: #b30000;
}

h1 {
	margin-bottom: 3.2vh;
	font-family: 'Mukta', sans-serif;
	font-size: 6.4vh;
	line-height: 6.4vh;
}

h2 {
	margin-bottom: 2vh;
	font-family: 'Dosis', sans-serif;
	font-size: 4vh;
	line-height: 4vh;
}

h3 {
	margin-bottom: 1.6vh;
	font-family: 'Thasadith', sans-serif;
	font-size: 3.2vh;
	line-height: 3.2vh;
}

code {
	font-family: 'Lekton', sans-serif;
}

a {
	text-decoration: none;
	padding-bottom: 1px;
	border: 0;
	color: #cccccc;
	transition: 0.5s all ease-out;
}

a:hover {
	border-bottom: 2px solid black;
	color: black;
	transition: 0.5s all ease-out;
}

p, picture {
	margin-bottom: 1.2vh;
}

picture {
	display: block;
}

div.container {
	width: 80%;
	margin-left: 20%;
	padding: 0 1vw;
}