/*
Main Title: Mukta;
First Layer Title: Dosis;
Second Layer Title: Thasadith;
Content: Zilla Slab;
Code Font: Lekton;
*/

/*
font-family: 'Dosis', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Thasadith', sans-serif;
font-family: 'Zilla Slab', serif;
*/

/*
text color: #383838; (light grey)
*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lekton&family=Mukta:wght@400;800&family=Thasadith:wght@400;700&family=Zilla+Slab:wght@300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	font-size: 2.4vh;
	line-height: 2.4vh;
	font-family: 'Zilla Slab', serif;
	background-color: white;
	color: #383838;
}

body > nav {
	width: 30%;
	height: 100vh;
	padding: 1vw;
	overflow-y: hidden;
}

body > nav > a {
	display: block;
}

h1 {
	font-family: 'Mukta', sans-serif;
	font-size: 4.8vh;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 4vh;
}

h3 {
	font-family: 'Thasadith', sans-serif;
	font-size: 3.2vh;
}

code {
	font-family: 'Lekton', sans-serif;
}

a {
	text-decoration: none;
	color: #595959;
	transition: 0.5s all ease-out;
}

a:hover {
	color: #1a1a1a;
	transition: 0.5s all ease-out;
}

div.container {
	width: 80%;
	margin-left: 20%;
	padding: 0 1vw;
}