* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
}

div {
	display: inline-block;
	width: 50px;
	height: 50px;
}

a {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: orange;
	/* This setting aligns the texts to the top of the element, 
	   which thus helps align this box to other inline-block divs perfectly. */
	vertical-align: top;
	/* When the line height to set to be equal to the element height, texts are
	   centered vertically regardless of the font size. */
	line-height: 50px;
}